[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libs/SDL_ttf"]
	path = libs/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "libs/SDL_image"]
	path = libs/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "libs/clay"]
	path = libs/clay
	url = https://github.com/nicbarker/clay
[submodule "libs/tinyfiledialogs"]
	path = libs/tinyfiledialogs
	url = https://git.code.sf.net/p/tinyfiledialogs/code
[submodule "libs/SDL_sound"]
	path = libs/SDL_sound
	url = https://github.com/icculus/SDL_sound.git
[submodule "libs/CARA"]
	path = libs/CARA
	url = https://github.com/acrilique/CARA.git
